<h1>Stupid coaching</h1>

<div class="nana">
  <h2> <%= @ask%> </h2>
  <h4>- You</h4>
</div>

<div class="nana bg-warning" >
  <h2> <%= @answer%> </h2>
  <h4>-Coach</h4>
</div>


<a class=""><%= link_to"Ask again", root_path %></a>
